<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer>
<!-- <header>
  <div>
    <img src="../assets/iconClinica.png" alt="Icono Clinina">
  </div>
  <nav>
    <ul>
      <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/agendar-cita" routerLinkActive="active">Agendar cita</a></li>
      <li><a routerLink="/tests" routerLinkActive="active">Listar examenes</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>

    </ul>
  </nav>
</header> -->

<!--  -->

<!-- </div> -->