
.container{
    padding: 3rem;
}

.btn-actualizar{
    background: #6B81AC;
    color: white;
    padding: 0.5rem;
}

.btn-actualizar:hover{
    background: #3d455a;
    color: white;
    cursor: pointer;
}