<div class="fondo">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/carusel/principal.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="colorDeLetras">Atención psicológica</h1>
          <h3 class="colorDeLetras"> - Terapias y psicoterapias - </h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carusel/individual.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="colorDeLetras">Terapia Individual</h1>
          <h3 class="colorDeLetras">Consulta psicológica adecuada a tus necesidades</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carusel/familiar.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="colorDeLetras">Terapia Familiar</h1>
          <h3 class="colorDeLetras">Mejora la comunicación y relación de tu familia</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carusel/pareja.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="colorDeLetras">Terapia De Parejas</h1>
          <h3 class="colorDeLetras">Todas las relaciones sanas y amorosas toman esfuerzo</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carusel/infantil.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="colorDeLetras">Terapia Para Niños y Adolescentes</h1>
          <h3 class="colorDeLetras">Ayúdalos a vivir una vida sana, plena y con confianza en ellos mismos</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-boton"><a href="https://wa.me/{{502}}{{phone}}?text={{mensaje}}" class="" target="_blank">
      <img class="btn-wsp" src="../../../assets/iconWatsapp.png" alt=""></a>
  </div>

  <!-- <div class="fondoServicios"> -->


  <br>
  <div class="container">
    <div class="fondo-servicio">
      <div class="contenido-servicio">
        <h1>SERVICIOS</h1>
        <h2 class="subrayado"></h2>
      </div>

      <div class="container">
        <div class="row row-cols-md-2 g-6">

          <!--Tarjetas de información de servicios-->

          <div class="col-md-6">
            <div class="tarjeta">
              <div class="card" style="width: 100%;">
                <img src="../../../assets/imageCards/terapiaIndividual.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Terapia Individual</h3>
                  <p class="card-text">Con nuestra atención individual te apoyamos para mejorar desde tu interior, con
                    ello
                    lograrás resolver situaciones que se presentan todos los días y asegurar tu bienestar.
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div div class="card-estudios" style="width: 100%;">
                  <h3 class="card-title">Situaciones a tratar</h3>
                  <ul class="card-text">
                    <li>Ansiedad</li>
                    <li>Depresión</li>
                    <li>Baja Autoestima</li>
                    <li>Estrés</li>
                    <li>Timidez</li>
                    <li>Falta de auto-control personal</li>
                    <li>Dificultades laborales</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="tarjeta">
              <div class="card" style="width: 100%;">
                <img src="../../../assets/imageCards/terapiaFamiliar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Terapia Familiar</h3>
                  <p class="card-text">Poder trabajar sobre la dinámica familiar y sus integrantes siempre asegurará
                    una adecuada comunicación y así poder resolver conflictos que puedan presentarse entre sus miembros.
                  </p>
                </div>
              </div>

              <div class="col-md-12">
                <div div class="card-estudios" style="width: 100%;">
                  <h3 class="card-title">Situaciones a tratar</h3>
                  <ul class="card-text">
                    <li>Conflicto entre los miembros de la familia</li>
                    <li>Problemas de comunicación</li>
                    <li>Fallecimiento de un familiar</li>
                    <li>Rivalidad entre hermanos</li>
                    <li>Dificultad para implementar limites y normas</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="tarjeta">
              <div class="card" style="width: 100%;">
                <img src="../../../assets/imageCards/terapiaConflictoPareja.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Terapia de Pareja</h3>
                  <p class="card-text">Desarrolla habilidades de comunicación para así aprender a resolver y prevenir
                    Problemas
                    que se puedan presentar en pareja.
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div div class="card-estudios" style="width: 100%;">
                  <h3 class="card-title">Situaciones a tratar</h3>
                  <ul class="card-text">
                    <li>Mala comunicación</li>
                    <li>Falta de efecto</li>
                    <li>Interferencia Familiar</li>
                    <li>Bajo deseo sexual</li>
                    <li>Crisis por infidelidad</li>
                    <li>Indecisiones en el proyecto de vida</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="tarjeta">
              <div class="card" style="width: 100%;">
                <img src="../../../assets/imageCards/terapiaInfantil.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Terapia Infantil</h3>
                  <p class="card-text">Con la psicoterapia relacional se trabaja no sólo lo que le ocurre al niño,
                    sino también la relación con sus padres y de esta forma puede mejorar mucho lo que sucede en el
                    hogar.
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div div class="card-estudios" style="width: 100%;">
                  <h3 class="card-title">Situaciones a tratar</h3>
                  <ul class="card-text">
                    <li>Trastorno de conducta</li>
                    <li>Trastorno por déficit de atención e hiperactividad</li>
                    <li>Déficit de habilidades sociales</li>
                    <li>Trastorno del aprendizaje</li>
                    <li>Depresión infantil</li>
                    <li>Ansiedad infantil</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <div class="fondoHorarios">
        <div class="container">
          <br>
          <br>
          <div class="container contenido-servicio">
            <h1>CONTACTO</h1>
            <h2 class="subrayado"></h2>
          </div>


          <div class="row row-cols-md-1">
            <div class="col-md-1 card-body tarjeta-contacto">
              <h2>Horario De Atención</h2>
              <hr>
              <h4>Lunes a Viernes de {{horaInicio}} a {{horaFinal}} hrs</h4>


            </div>
            <div class="col-md-1 card-body tarjeta-contacto">
              <h2>Para consultas de tarifas puede comunicarse al teléfono</h2>
              <hr>
              <h4>{{phone}}.</h4>
            </div>
            <div class="col-md-1 card-body tarjeta-contacto">
              <h2>Para reservaciones de citas</h2>
              <hr>
              <h3><a id="reserva" href="agendar-cita">Reservar Cita</a></h3>

            </div>
            <div class="col-md-1 card-body tarjeta-contacto">
              <h2>Para más información escribanos vía WhatsApp</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>